.events-calendar-header {
	height: 52px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	row-gap: 0.5rem;
	column-gap: 0.25rem;
	font-size: 1.125rem;
	padding: 0.5rem 0.75rem;
	overflow: hidden;
	border-bottom: 1px solid var(--ec-gray-3);
}

.events-calendar-nav {
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 0.75rem;
}

.events-calendar-nav-actions {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.events-calendar-title {
	color: var(--ec-gray-9);
	white-space: nowrap;
	font-weight: 500;
	line-height: 1;
	font-size: 1.25rem;
	user-select: none;
}

.events-calendar-button-group {
	display: flex;
}

.events-calendar-header-controls {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-self: flex-end;
}
