.header {
	height: 52px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	row-gap: 0.5rem;
	column-gap: 0.25rem;
	font-size: 1.125rem;
	padding: 0.5rem 0.75rem;
	overflow: hidden;
	border-bottom: 1px solid #ced4da;
}

[data-ec-color-scheme='dark'] .header {
	border-bottom: 1px solid #424242;
}

@media (prefers-color-scheme: dark) {
	[data-ec-color-scheme='auto'] .header {
		border-bottom: 1px solid #424242;
	}
}

.controls {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-self: flex-end;
}

.navigation {
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 0.75rem;
}

.actions {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.date {
	color: var(--ec-gray-9);
	white-space: nowrap;
	font-weight: 500;
	line-height: 1;
	font-size: 1.25rem;
	user-select: none;
}

.buttonGroup {
	display: flex;
}
