.events-calendar-month-view,
.events-calendar-month-view-grid {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.events-calendar-month-view-row {
	position: relative;
	display: grid;
	flex-grow: 1;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	border-bottom: 1px solid var(--ec-gray-3);
	&:last-child {
		border-bottom: none;
	}
}
