.monthHeader {
	position: relative;
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	font-size: 0.875rem;
	font-weight: 600;
}
.headerCell {
	text-align: center;
	border-bottom: 1px solid var(--ec-gray-4);
	transition-property: background;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 750ms;
	user-select: none;
	padding: 0.25rem 0;
}
