.link {
	font-weight: 500;
	display: block;
	width: 100%;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	color: var(--mantine-color-text);
	font-size: var(--mantine-font-size-sm);
	text-decoration: none;
}
.link:hover {
	background-color: var(--mantine-color-gray-0);
	color: var(--mantine-color-black);
}
.link[data-active='true'] {
	background-color: var(--mantine-color-indigo-0);
	border-left: 3px solid var(--mantine-color-indigo-6);
	color: var(--mantine-color-indigo-7);
}
