.wrapper {
	padding: 1rem 2.5rem 3rem 2.5rem;
	gap: 1rem;
	width: min(80em, 100%);
	max-width: min(80em, 100%);
	margin: 0 auto;
}

@media (min-width: 768px) {
	.wrapper {
		padding: 2rem 2.5rem 5rem 2.5rem;
	}
}

@media (min-width: 1560px) {
	.wrapper {
		width: min(92rem, 100%);
		max-width: min(92rem, 100%);

		padding: 2rem 2.5rem 10rem 2.5rem;
	}
}
