.events-calendar-overflow-card {
	width: 13rem;
	box-sizing: border-box;
	background: var(--ec-default-background);
	padding: 0.5rem 0.5rem 0.625rem 0.5rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border: 1px solid var(--ec-gray-3);
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

.events-calendar-overflow-card * {
	box-sizing: border-box;
}

.events-calendar-overflow-card-content {
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
	max-height: min(308px, 90vh);
	overflow-y: auto;
}

.events-calendar-overflow-card-label {
	color: var(--ec-gray-9);
	text-align: center;
	font-size: 0.875rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.events-calendar-overflow-card-text {
	text-align: center;
	font-size: 0.75rem;
	color: var(--ec-gray-7);
}
