.button:hover {
	background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-1));

	&:hover {
		text-decoration: none !important;
		background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
		& .showOnly {
			opacity: 100;
		}
	}
}

.showOnly {
	opacity: 0;
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
	cursor: pointer;

	&:hover {
		background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
	}
	&:active {
		transform: translateY(-45%);
	}
}
