.wrapper {
	padding: 1rem 2.5rem 3rem 2.5rem;
	gap: 1rem;
	width: min(72em, 100%);
	max-width: min(72em, 100%);
	margin: 0 auto;

	&[data-wide] {
		width: min(80em, 100%);
		max-width: min(80em, 100%);
	}
}

@media (min-width: 768px) {
	.wrapper {
		padding: 2rem 2.5rem 5rem 2.5rem;
	}
}

@media (min-width: 1560px) {
	.wrapper {
		padding: 2rem 2.5rem 10rem 2.5rem;
	}
}

.control {
	border-radius: 0;
	border-left: 1px solid var(--mantine-color-gray-3);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	&[data-active] {
		border-left: 1px solid var(--mantine-color-blue-5);
	}
}
