.events-calendar-hours-column {
	flex-shrink: 0;
	display: grid;
	grid-template-rows: repeat(24, minmax(0, 1fr));
	width: 2.25rem;
}
.events-calendar-hour {
	position: relative;
}
.events-calendar-hour-label {
	position: absolute;
	bottom: -7.25px;
	right: 4px;
	font-size: 0.625rem;
	user-select: none;
}
