.gridCell {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 12px;
	max-height: 12px;
	box-sizing: border-box;
	&:nth-child(4n + 4) {
		border-bottom: 1px solid #eee;
	}

	&[data-isweekview='true']:not(:nth-child(n + 577)) {
		border-right: 1px solid #eee;
	}
}
