.monthDate {
	width: 1.375rem;
	height: 1.375rem;
	line-height: 1.375rem;
	border-radius: 9999px;
	display: grid;
	place-content: center;
	font-size: 0.7rem;
	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: var(--ec-gray-1);
	}

	&[data-dimmed='true'] {
		color: #adb5bd;
	}

	&[data-active='true'] {
		color: #fff;
		background-color: #20c997;
		&:hover {
			background-color: #12b886;
		}
	}

	&[data-today='true'] {
		color: #fff;
		background-color: #228be6;
	}
}
