.events-calendar-month-cell {
	display: flex;
	flex-direction: column;
	user-select: none;
	transition-property: background;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 750ms;
	padding: 0.125rem;
	&[data-border='true'] {
		border-right: 1px solid var(--ec-gray-3);
	}
}

.events-calendar-month-cell-content {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 0.125rem;
	overflow: hidden;
	height: 100%;

	&[data-week='true'] {
		padding-bottom: 0.5rem;
	}
}
