.cell {
	display: flex;
	flex-direction: column;
	user-select: none;
	transition-property: background;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 750ms;
	&[data-border='true'] {
		border-right: 1px solid #eee;
	}
}
.cellContent {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 0.125rem;
	padding: 0 0.125rem;
	overflow: hidden;
	height: 100%;

	&[data-week='true'] {
		padding-bottom: 0.5rem;
	}
}
.showMoreText {
	position: relative;
	z-index: 1;
	white-space: nowrap;
	display: flex;
	color: #555;
	font-size: 0.75rem;
	padding: 2px 6px;
	border-radius: 0.25rem;
	font-weight: 600;
	line-height: normal;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	&[data-sm='true'] {
		font-size: 0.65rem;
		padding: 1px 6px;
		margin-bottom: 0px;
	}
	&:hover {
		background: #e5e7eb;
		color: #222;
	}
	@media (max-width: 640px) {
		outline: 1px solid #dfdfdf;
	}
}
.cellHeader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.125rem 0.125rem 0.125rem 0;
	user-select: none;
}
.dateContainer {
	width: 22px;
	display: flex;
	justify-content: center;
	margin-left: 1px;
	padding: 0.25rem;
	border-radius: 9999px;
	box-sizing: border-box;
	pointer-events: none;
	background: transparent;
	&[data-today='true'] {
		background: #329aef;
	}
}
.dateLabel {
	font-size: 0.875rem;
	line-height: 1;
	font-weight: 500;
	&[data-color='white'] {
		color: #fff;
	}
	&[data-color='dark'] {
		color: #777;
	}
	&[data-color='dim'] {
		color: #ccc;
	}
	&[data-sm='true'] {
		font-size: 0.75rem;
	}
}
.smOnly {
	display: none;
	pointer-events: none;
	@media (max-width: 640px) {
		display: block;
	}
}
.lgOnly {
	display: none;
	pointer-events: none;
	@media (min-width: 640px) {
		display: block;
	}
}
